button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
    background-color: #11519a;
    color: #fff; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0 0 40px 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  max-width: 100%;
  width: auto; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #104c90; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.label-switch {
  margin: 0 10px 40px 10px;
  border-radius: 32px;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  position: relative;
  width: 52px; }
  .label-switch input[type="checkbox"] {
    display: none; }
    .label-switch input[type="checkbox"] + .checkbox {
      background: #e8e8e8;
      border: 0;
      border-radius: 32px;
      cursor: pointer;
      height: 32px;
      margin: 0;
      padding: 0;
      position: relative;
      transition: all 0.3s ease;
      width: 52px;
      z-index: 0; }
      .label-switch input[type="checkbox"] + .checkbox::before {
        position: absolute;
        top: 2px;
        right: 0;
        bottom: 0;
        left: 2px;
        background: #fff;
        border-radius: 32px;
        content: "";
        height: 28px;
        transform: scale(1);
        transition: all 0.3s ease;
        width: 48px;
        z-index: 1; }
      .label-switch input[type="checkbox"] + .checkbox::after {
        position: absolute;
        top: 2px;
        right: 0;
        bottom: 0;
        left: 2px;
        height: 28px;
        width: 28px;
        background: #fff;
        border-radius: 28px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
        content: "";
        transition: all 0.3s ease;
        z-index: 2; }
    .label-switch input[type="checkbox"]:checked + .checkbox {
      background: #1565c0; }
      .label-switch input[type="checkbox"]:checked + .checkbox::before {
        transform: scale(0); }
      .label-switch input[type="checkbox"]:checked + .checkbox::after {
        left: 22px; }

.expander {
  width: 60%; }
  .expander .expander-trigger {
    border-bottom: 1px solid #ddd;
    color: #1565c0;
    cursor: pointer;
    display: block;
    font-size: 1em;
    margin-bottom: 1em;
    padding-bottom: 0.25em;
    text-decoration: none;
    user-select: none; }
    .expander .expander-trigger::before {
      content: "\25BC";
      font-size: 0.7em;
      margin-right: 0.5em; }
  .expander .expander-content p {
    color: #333;
    line-height: 1.5; }
  .expander .expander-hidden::before {
    content: "\25BA";
    font-size: 0.7em; }
  .expander .expander-hidden + .expander-content {
    display: none; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-width: 700px; }
  .container::after {
    clear: both;
    content: "";
    display: block; }

.title {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  text-align: center;
  line-height: 2em;
  font-size: 1.75em; }
  .title:last-child {
    margin-right: 0; }

input[type="range"] {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
  height: 3em; }
  input[type="range"]:last-child {
    margin-right: 0; }

.range-output {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  background-color: #f7f7f7;
  line-height: 3em;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06); }
  .range-output:last-child {
    margin-right: 0; }

label {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  label:last-child {
    margin-right: 0; }

.cold-plate-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .cold-plate-container:last-child {
    margin-right: 0; }

.specs-display {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  background-color: #f7f7f7; }
  .specs-display:last-child {
    margin-right: 0; }
  .specs-display li {
    margin: 1em 0;
    padding: 1em;
    background-color: #fff;
    font-style: italic; }
  .specs-display .incomplete {
    color: red; }

#fridge-form {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  background-color: #f7f7f7; }
  #fridge-form:last-child {
    margin-right: 0; }

/*# sourceMappingURL=main.css.map */
